/.gradle
/build
/run
/.settings
/.metadata
/.classpath
/.project
/bin
/eclipse/config
/eclipse/logs
/eclipse/mods
/eclipse/servers.dat
/eclipse/crash-reports
/eclipse/options.txt
/eclipse/saves
/eclipse/usernamecache.json
gradlew*
*.*~
*.txt
